<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .link{
    text-decoration: none;
    color: white;
}
.font{
    font-family: '400 14px / 1.57 Roboto, Open Sans, Arial, Helvetica, sans-serif';
    text-decoration: none;
}
.bgcolor {
            
            /* background: linear-gradient(45deg,#071019, #071019, #071019,#011f3d,rgb(8, 8, 121), rgb(12, 126, 146),#071019,#071019,#071019,#071019); */
            background-color: black;
                        
                        
                    }
    </style>
</head>
<body>
    <footer class=" text-white py-3 mt-5 bgcolor">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>&copy; 2024 <span class="font">MuseumTicketer</span> All rights reserved. | Made by
                        <span class="font"><a href="ourWebsite" class="link">Team Magico</a></span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>