<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/events.css">

</head>

<body>
    <%- include('partials/header.ejs') %>


        <!-- Join The Event -->
        <section>
            <div class="join container">
                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <div class="box">
                            <img src="images/medium.jpg" class="img-fluid" alt="Event Image">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <h6>Join Event</h6>
                        <h5>We Create And Turn Into <span>Reality</span></h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat doloribus minus aliquid
                            explicabo nobis, quod molestiae dicta assumenda. Aperiam deserunt error molestiae
                            perferendis
                            officiis, quos atque id nulla vel illo! <br><br>Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Inventore, adipisci quam laudantium dolorem sapiente consequuntur
                            voluptates
                            explicabo dolorum nemo minus. Enim dolorem deserunt repellat eveniet veniam, quasi ut? Ea,
                            elit. Esse, delectus labore!
                            Veritatis earum debitis, eos qui hic minima quia quibusdam optio, a perspiciatis fugiat!
                            Distinctio harum beatae totam laudantium numquam?</p>
                        <button class="btn">Read More</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- Join The Event End -->

        <!-- Speaker Section Start -->
        <section>
            <div class="speaker container">
                <div class="content">
                    <h6>Listen To Our Speakers</h6>
                    <h5>Who's Speaking</h5>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box">
                            <img src="images/medium.jpg" class="img-fluid" alt="Speaker Image">
                            <div class="Overlay"></div>
                            <div class="boxContent">
                                <h6>Andrews</h6>
                                <h5>Founder & CEO</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box">
                            <img src="images/medium.jpg" class="img-fluid" alt="Speaker Image">
                            <div class="Overlay"></div>
                            <div class="boxContent">
                                <h6>Andrews</h6>
                                <h5>Founder & CEO</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box">
                            <img src="images/medium.jpg" class="img-fluid" alt="Speaker Image">
                            <div class="Overlay"></div>
                            <div class="boxContent">
                                <h6>Andrews</h6>
                                <h5>Founder & CEO</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Speaker Section End -->

        <!-- Event List Section Start -->
        <section>
            <div class="container">
                <!-- Event 1 -->
                <div class="item-container">
                    <div class="img-container">
                        <img src="images/eve1.jpg" alt="Event Image">
                    </div>
                    <div class="body-container">
                        <div class="overlay"></div>
                        <div class="event-info">
                            <p class="title">RetroDrive Expo</p>
                            <div class="separator"></div>
                            <p class="info">Pune, India</p>
                            <p class="price">₹400/-</p>
                            <div class="additional-info">
                                <p class="info">
                                    <i class="fas fa-map-marker-alt"></i>
                                    Grand Central Terminal
                                </p>
                                <p class="info">
                                    <i class="far fa-calendar-alt"></i>
                                    Sat, Sep 19, 10:00 AM IST
                                </p>
                                <p class="info description">
                                    Welcome! Everyone has after reading a book, and we would love you
                                    to share yours with us! We meet one Sunday evening <span>more...</span>
                                </p>
                            </div>
                        </div>
                        <button class="action">Book it</button>
                    </div>
                </div>

                <!-- Event 2 -->
                <div class="item-container">
                    <div class="img-container">
                        <img src="images/eve2.jpg" alt="Event Image">
                    </div>
                    <div class="body-container">
                        <div class="overlay"></div>
                        <div class="event-info">
                            <p class="title">Jurassic Park</p>
                            <div class="separator"></div>
                            <p class="info">Pune, India</p>
                            <p class="price">₹299/-</p>
                            <div class="additional-info">
                                <p class="info">
                                    <i class="fas fa-map-marker-alt"></i>
                                    Grand Central Terminal
                                </p>
                                <p class="info">
                                    <i class="far fa-calendar-alt"></i>
                                    Sat, Sep 19, 10:00 AM IST
                                </p>
                                <p class="info description">
                                    Welcome! Everyone has a , and wegbg rryhty would love you
                                    to share yours with us! We meet one Sunday evening <span>more...</span>
                                </p>
                            </div>
                        </div>
                        <button class="action">Book it</button>
                    </div>
                </div>

                <!-- Event 3 -->
                <div class="item-container">
                    <div class="img-container">
                        <img src="images/eve3.jpg" alt="Event Image">
                    </div>
                    <div class="body-container">
                        <div class="overlay"></div>
                        <div class="event-info">
                            <p class="title">Vision 2050</p>
                            <div class="separator"></div>
                            <p class="info">Pune, India</p>
                            <p class="price">₹700/-</p>
                            <div class="additional-info">
                                <p class="info">
                                    <i class="fas fa-map-marker-alt"></i>
                                    Grand Central Terminal
                                </p>
                                <p class="info">
                                    <i class="far fa-calendar-alt"></i>
                                    Sat, Sep 19, 10:00 AM EDT
                                </p>
                                <p class="info description">
                                    Welcome! Everyone has a vghfcgfhc, and we would love you
                                    to share yours with us! We meet one Sunday evening <span>more...</span>
                                </p>
                            </div>
                        </div>
                        <button class="action">Book it</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- Event List Section End -->

        <!-- Our News Section Start -->
        <section>
            <div class="news container">
                <div class="content">
                    <h6>News Update</h6>
                    <h5>Our Latest News</h5>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box">
                            <img src="images/news.jpg" class="img-fluid" alt="News Image">
                            <div class="boxContent">
                                <h6>How To Make Complete Website</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut debitis iure
                                    reprehenderit,
                                    odit ad eum.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mid">
                        <div class="box">
                            <img src="images/news.jpg" class="img-fluid" alt="News Image">
                            <div class="boxContent">
                                <h6>How To Make Complete Website</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut debitis iure
                                    reprehenderit,
                                    odit ad eum.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box">
                            <img src="images/news.jpg" class="img-fluid" alt="News Image">
                            <div class="boxContent">
                                <h6>How To Make Complete Website</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut debitis iure
                                    reprehenderit,
                                    odit ad eum.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our News Section End -->

        <%- include('partials/footer.ejs') %>

</body>

</html>