<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userTicketInput</title>
</head>
<body>
    <form action="/submit/" method="post">
        <input type="email" name="email" id="" placeholder="email">
        <input type="text" name="name" id="" placeholder="Name">
        <input type="date" name="date" id="" placeholder="date">
        <input type="time" name="time" id="" placeholder="time">
        <input type="submit" value="">


    </form>
</body>
</html>