
.responsive-container-block {
    min-height: 75px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: flex-start;
}

.text-blk {
    margin: 0;
    padding: 10px;
    line-height: 25px;
}

.responsive-container-block.bigContainer {
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainImg {
    width: 55%;
    height: auto;
    box-shadow: 0 5px 10px rgba(219, 210, 210, 0.05);
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-blk.headingText,
.text-blk.subHeadingText,
.text-blk.description {
    margin: 0 0 10px 0;
    padding: 0 10px;
    font-size: 25px;
    line-height: 34px;
    color: whitesmoke;
    font-weight: 700;
}

.text-blk.subHeadingText,
.text-blk.description {
    color: white;
}

.text-blk.description {
    margin-bottom: 50px;
    font-weight: 400;
}

.allText {
    width: 40%;
    margin: 0;
    padding: 0;
}

.explore {
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    background-color: black;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 12px;
}

.explore:hover {
    background-color: whitesmoke;
    color: black;
}

.responsive-container-block.Container {
    margin: 80px auto 50px;
    max-width: 1320px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.responsive-container-block.Container.bottomContainer {
    margin: 100px auto 50px;
    flex-direction: row-reverse;
}

@media (max-width: 1024px) {
    .responsive-container-block.Container {
        max-width: 850px;
    }

    .text-blk.description {
        font-size: 20px;
    }

    .allText {
        width: 40%;
        margin-left: 20px;
    }

    .responsive-container-block.Container.bottomContainer {
        margin: 80px auto 50px;
    }
}

@media (max-width: 768px) {
    .mainImg {
        width: 90%;
    }

    .allText {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .responsive-container-block.Container {
        flex-direction: column;
    }

    .text-blk.headingText,
    .text-blk.subHeadingText,
    .text-blk.description {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .responsive-container-block.Container {
        padding: 10px 0;
        max-width: 100%;
    }

    .mainImg {
        width: 100%;
    }
}


